#regist-btn-box {
    text-align: right
}

.featured-item {
    display: block;
    min-width: 200px;
    min-height: 350px;
}

.section-heading h6 {
    text-align: right;
}

#map img {
    width: 100%;
}

#selling-list {
    height: fit-content !important;
}

#request-list {
    height: fit-content !important;
}